BODY { color: Black;
       /*background: #F5F5DC;*/
       margin-right: 10%;
       margin-left: 10%;
       font-family: "Times New Roman", serif;
       white-space:nowrap;
     }

.preword {text-align:left;text-indent:0%;line-height: 12px;}
.chapters {text-align:center;text-indent:0%;}
.image {text-align:left;text-indent:0%;line-height: 12px;}
.note {text-align:left;text-indent:0%;line-height: 16px;font-size: small;}
.bigger {text-align: center;font-size: x-large; ;margin-left: 10% ;margin-right: 10%;}


.center { text-align: center ;}

.copyright {text-align:left;text-indent:0%;font-style: italic;}


.left{text-align:left;}
.tab{text-indent: 50px;}
.tab2{text-indent: 100px;}