/*http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62*/
/*note i modified this file to be beige
*/

/*https://sep.yimg.com/ay/yhst-91547409642223/hotel-transylvania-2-count-dracula-cosplay-13.gif*/

BODY{ 
  margin-right: 10%;
  margin-left: 10%;
  background-image : url(../images/whitenoise2.png);
}

p,h1,h2,h3,h4,h5,h6{
  color: Black;
  font-family: "Georgia", serif;
  text-align: justify;
  line-height: 20px;
}



P {text-indent: 4% }

P.noindent {text-indent: 0% }

P.poem {text-indent: 0%;
        margin-left: 10%;
        font-size: small;
        line-height: 20px; }

P.letter {font-size: small ;
          margin-left: 10% ;
          margin-right: 10%;
          line-height: 20px; }

P.finis { text-align: center ;
          text-indent: 0% ;
          margin-left: 0% ;
          margin-right: 0%;
          line-height: 20px; }
  .links{
    line-height: 8px;
    font-size: medium;
  }

.height4{
  height: 4em;
}

.r {text-align:right;margin-right: 5%;}

.smallCaps  {font-variant:small-caps;font-size:100%;}


.preword {text-align:left;text-indent:0%;line-height: 12px;}
.chapters {text-align:center;text-indent:0%;}
.image {text-align:left;text-indent:0%;line-height: 12px;}
.note {text-align:left;text-indent:0%;line-height: 16px;font-size: small;}
.bigger {text-align: center;font-size: x-large; ;margin-left: 10% ;margin-right: 10%;}


.center { text-align: center ;}


.copyright {text-align:left;text-indent:0%;font-style: italic;}


.width{
  width:15%;
}

.border{
  padding:2%;border:3px dotted gray;
}